<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort area-label="Timecards">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- date of payment Column -->
    <ng-container matColumnDef="dateOfPayment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Payment</th>
      <td mat-cell *matCellDef="let row">{{row.dateOfPayment}}</td>
    </ng-container>

    <!-- Pay period Column -->
    <ng-container matColumnDef="payPeriod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Period</th>
      <td mat-cell *matCellDef="let row">{{row.payPeriod}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary">
          <mat-icon>cloud_download</mat-icon>
        </button>
      </td>
    </ng-container>    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>