<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Prabhath Darshana</h2>
      <h4>example@email.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Prabhath Darshana">
  </div>

  <mat-divider></mat-divider>
  
  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/hr">Human Resource</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/inventory">Inventory Management</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/finance">Financial Management</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/projects">Project Management</a>
  
  <mat-divider></mat-divider>
  
  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  
</mat-nav-list>
