<div fxLayout="column" fxLayoutGap="10px">
  <header fxLayout="row" fxLayoutGap="25">
    <h2>Project: {{project.name}}</h2>
    <mat-icon class="edit-pen" color="primary" routerLink="/projects/maintenance">
      edit
    </mat-icon>
  </header>
  
  <div class="container" fxLayout="column" fxFlex=100 fxLayoutGap=20px>
    <mat-progress-bar fxLayoutGap="10px" mode="determinate" [value]="project.compilation"></mat-progress-bar>
    <div fxFlex="25">
      <google-chart
        [title]="gunttChart.title"
        [type]="gunttChart.type"
        [data]="gunttChart.data"
        [columns]="gunttChart.columns"
        [options]="gunttChart.options"
      ></google-chart>
    </div>
    <div fxLayout="row" fxFlex=100 fxLayoutGap="20px">
      <mat-card fxFlex="25">
        <h3>Project Expenditures</h3>
        <h1>$68253.25</h1>
      </mat-card>
      <mat-card fxFlex="25">
        <h3>Project Income</h3>
        <h1>$82000.00</h1>
      </mat-card>
      <mat-card fxFlex="25">
        <google-chart
          [title]="lineChart.title"
          [type]="lineChart.type"
          [data]="lineChart.data"
          [columns]="lineChart.columns"
          [options]="lineChart.options"
        ></google-chart>
      </mat-card>
      <mat-card fxFlex="25">
        <h3>Total Hours</h3>
        <h1>2304 Hours</h1>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex=100 fxLayoutGap="20px">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile> 
          <mat-grid-tile-header>Task created vs completed</mat-grid-tile-header>
          <google-chart
            [title]="createdVsCompletedChart.title"
            [type]="createdVsCompletedChart.type"
            [data]="createdVsCompletedChart.data"
            [columns]="createdVsCompletedChart.columns"
            [options]="createdVsCompletedChart.options"
          ></google-chart>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header>Task Summary</mat-grid-tile-header>
          <google-chart
            [title]="taskSummaryPie.title"
            [type]="taskSummaryPie.type"
            [data]="taskSummaryPie.data"
            [columns]="taskSummaryPie.columns"
            [options]="taskSummaryPie.options"
          ></google-chart>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>