<div fxLayout="column" fxLayoutGap="10px">
  <header fxLayout="row">
    <h2>Project: {{project.name}}</h2>
  </header>
  
  <div class="container" fxLayout="column" fxFlex=100 fxLayoutGap=20px>
    <mat-progress-bar fxLayoutGap="10px" mode="determinate" [value]="project.compilation"></mat-progress-bar>
    <div fxFlex="25">
      <google-chart
        [title]="gunttChart.title"
        [type]="gunttChart.type"
        [data]="gunttChart.data"
        [columns]="gunttChart.columns"
        [options]="gunttChart.options"
      ></google-chart>
    </div>
    <div fxLayout="row" fxFlex=100 fxLayoutGap="20px">
      <mat-card fxFlex="25">
        Project Expenditures
      </mat-card>
      <mat-card fxFlex="25">
        Project Income
      </mat-card>
      <mat-card fxFlex="25">
        Line chart
        Project economy
      </mat-card>
      <mat-card fxFlex="25">
        Total hours of work
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex=100 fxLayoutGap="20px">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>